{{#*inline "page"}}
<div id="wrapper">
  <h1>About us</h1>
  <div id="about_us">
    <p>私たちは、工学院大学・法政大学・東京電機大学を活動場所の中心としています。</p>
    <p>外部に向けたイベントの時のみ、大学外の会場をレンタルなどしています。</p>
    <p>skypeなどによるリモート活動なども行ったりしています。</p>
    <p>では、普段私たちが主に行っている活動の詳細を紹介します。</p>
  </div>
  <div id="about">
    <h2>
      CTF
    </h2>
    <div class="content">
      <p>世界各国で行われているCapture The Flagというセキュリティコンテストに「cpaw」というチームで参加しています。</p>
      <p>参加する以外にも、CpawCTFという常設型入門者向けCTFを作成、運営しています。</p>
      <p>スコアサーバから作問、サーバーの維持まで、すべてを行っています。</p>
      <p>サイトへのアクセスはこちらから　→　<a href="https://ctf.cpaw.site">CpawCTF</a></p>
      <p>また、学内、学外向けに勉強会も不定期で開催しています。</p>
    </div>
  </div>
  <div id="about">
    <h2>
      競技プログラミング
    </h2>
    <div class="content">
      <p>工学院大学の競技プログラミングサークル「Kogcoder」と合同で月１回の学内競技プログラミング大会などを開催しています。</p>
      <p>内容としては、「code vs」の練習や、また「AOJ」などの類題をCpawメンバーのRyouが作成し、解いています。</p>
      <p>ジャッジサーバーはKogcoderのメンバーがRubyを用いて自作したものを学内LANに設置して使用しています。</p>
      <p>Kogcoderについての詳細はこちらから　→　<a href="http://">Kogcoder</a></p>
    </div>
  </div>
  <div id="about">
    <h2>
      Lightning Talk
    </h2>
    <div class="content">
      <p>メンバー各々の学習意欲を高めるため、Lightning Talkを定期的に行い、日々の学習・開発成果を発表する場を設けています。</p>
      <p>また、LTを行うことにより、資料を作る能力や人前で発表する能力、いわゆる「プレゼン力」を高められています。</p>
      <p>時間は一人当たり5~10分で、好きなジャンルがメンバーそれぞれバラバラなため、普段自分から触れない技術の話なども聞け、世界を広げることができます。</p>
    </div>
  </div>
  <div id="about">
    <h2>
      ハンズオン大会
    </h2>
    <div class="content">
      <p>メンバーそれぞれ普段行っている学習や開発の技術を、ハンズオン形式でみんなに教えあう大会を行っています。</p>
      <p>LTとは違い、一人あたり１時間という長い時間を使うため、LTよりも深く自分の知らない技術を得ることができます。</p>
      <p>かなりの長時間となるため、教える側も教えられる側もかなり体力を使いますが、それだけ得るものも大きいです。</p>
      <p>開催頻度は低く、準備する時間が長くとれる大型連休などで開催をしています。</p>
    </div>
  </div>
</div>
{{/inline}}
{{! remove whitespaces with ~ }}
{{~> (parent)~}}
