{{#*inline "page"}}
		<div id="wrapper">
			<h1>Our activity</h1>
			<div id="active">
				<h3>活動日程</h2>
				<p>基本的には隔週日曜です。メンバーそれぞれ大学や仕事などあるため、毎回日程をそれぞれ確認し、その月でメンバーの予定がもっとも合う日を活動日としています。</p>

				<h3>活動詳細</h3>
				<p>Aboutに書いてある活動内容のうちハンズオン大会以外を順に回していく形となっています。
				<br>また、ホームページの作成や勉強会の打ち合わせ等はリモート作業(Skypeがメイン)で行っています。
				<br>長期休暇などには、開発合宿を行い様々なものを作成し、OSCなどで展示をしようと試みています。
				</p>

				<h3>参加メンバー募集</h3>
				<p>LT大会やCpawCTF勉強会は一般参加者も募っています。
				<br>基本的にconnpassなどのサービスを利用して募集を募りますが、小規模の公開されていないイベントにも興味のある方は、以下の連絡先まで気軽にどうぞ！</p>
			</div>
			<h1>Contact</h1>
			<div id="wrapper-60">
				<div class="ticon">
					<img src="assets/img/ie.png">
					<p><a href="http://www.kogakuin.ac.jp/facilities/campus/shinjuku/access.html">工学院大学新宿キャンパス</a>
					<br><br><a href="http://www.hosei.ac.jp/access/koganei.html">法政大学小金井キャンパス</a></p>
				</div>
				<div class="ticon">
					<img src="assets/img/gmail.png">
					<p><br>cpaw.createam(at)gmail.com</p>
				</div>
				<div class="icon">
					<a href="https://twitter.com/Cpaw_account"><img src="assets/img/twitter.jpg"></a>
				</div>
				<div class="icon">
					<a href="https://www.facebook.com/Cpaw-168267563566072/"><img src="assets/img/fb.png"></a>
				</div>

				<div class="clear"></div>
			</div>

			<div id="wrapper-40">
				<a class="twitter-timeline" href="https://twitter.com/Cpaw_account" data-widget-id="716101392570560513">@Cpaw_accountさんのツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
		<div class="clear"></div>
{{/inline}}
{{! remove whitespaces with ~ }}
{{~> (parent)~}}
