<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="assets/css/common.css" type="text/css">
		<link rel="stylesheet" href="assets/css/styles.css" type="text/css">
		<link rel="stylesheet" href="assets/css/index.css" type="text/css">
		<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
		<script src="assets/js/script.js"></script>
		<script src="assets/js/height.js"></script>
		<title>Cpaw top page</title>
	</head>
	<body>
		<header>
			<div id="logo">
			  <img src="assets/img/logo.png" width=100%>
			</div>
		</header>
		<nav id="cssmenu">
			<ul>
			  <li class="active"><a href="index">TOP</a></li>
				<li><a href="users">Member</a></li>
				<li><a href="about">About</a></li>
				<li><a href="blog">Works</a></li>
                                <li><a href="activity">Other</a></li>
			</ul>
		</nav>
		<div id="wrapper">
			<h1>Caramel Programing Affect the World</h1>
			<div id="about_us">
				<p>CPAWとは法政大学生と工学院大学生によるプログラミングサークルです。</p>
				<p>キャラメルのようにちょっと甘いプログラミングで、</p>
				<p>世界をちょっぴり楽しくしようという思いで生まれました。</p>
				<p>様々なメンバーが様々な言語・環境・コンテンツでプログラミングをしており、</p>
				<p>互いの活動を共有・発信するためにイベントや勉強会を開催しています。</p>
			</div>
		</div>
		<!-- clear -->
		<div id="our_active">
			<p> 活動概要 </p>
		</div>
		<div id="top_active">
			<div class="wrap">
				<div class="top_exp">
					<img src="assets/img/CTF.png">
				</div>
				<div class="top_exp">
					<img src="assets/img/P_Contest.png">
				</div>
				<div class="top_exp">
					<img src="assets/img/LT_H.png">
				</div>
			</div>
		</div>
		<div id="bottom_active">
			<div class="wrap">
				<div class="bottom_exp">
					<p>セキュリティコンテストの一つであるCTFを行い、セキュリティに関する知識、技術を身につけています。</p>
				</div>
				<div class="bottom_exp">
					<p>競技プログラミングをみんなで楽しく行い、プログラミング能力を競い合っています。</p>
				</div>
				<div class="bottom_exp">
					<p>定期的に自分たちの活動をLT大会という形で発表することにより、学習意欲を高めています。</p>
				</div>
			</div>
		</div>
		<footer>
			©Cpaw
		</footer>
	</body>
</html>
