{{#*inline "page"}}
                <div id="wrapper">
			<h1>Caramel Programing Affect the World</h1>
			<div id="about_us">
				<p>CPAWとは法政大学生と工学院大学生によるプログラミングサークルです。</p>
				<p>キャラメルのようにちょっと甘いプログラミングで、</p>
				<p>世界をちょっぴり楽しくしようという思いで生まれました。</p>
				<p>様々なメンバーが様々な言語・環境・コンテンツでプログラミングをしており、</p>
				<p>互いの活動を共有・発信するためにイベントや勉強会を開催しています。</p>
			</div>
		</div>
		<!-- clear -->
		<div id="our_active">
			<p> 活動概要 </p>
		</div>
		<div id="top_active">
			<div class="wrap">
				<div class="top_exp">
					<img src="assets/img/CTF.png">
				</div>
				<div class="top_exp">
					<img src="assets/img/P_Contest.png">
				</div>
				<div class="top_exp">
					<img src="assets/img/LT_H.png">
				</div>
			</div>
		</div>
		<div id="bottom_active">
			<div class="wrap">
				<div class="bottom_exp">
					<p>セキュリティコンテストの一つであるCTFを行い、セキュリティに関する知識、技術を身につけています。</p>
				</div>
				<div class="bottom_exp">
					<p>競技プログラミングをみんなで楽しく行い、プログラミング能力を競い合っています。</p>
				</div>
				<div class="bottom_exp">
					<p>定期的に自分たちの活動をLT大会という形で発表することにより、学習意欲を高めています。</p>
				</div>
			</div>
		</div>
{{/inline}}
{{! remove whitespaces with ~ }}
{{~> (parent)~}}
