{{#*inline "page"}}
		<div id="wrapper">
		  <h1>
                    Login
                  </h1>
                  <div id="about">
                    <h2>以下の情報を入力してください</h2>
                    <div id="content">
                      <label>Email<br>
                        <input type="email" name="email" id="email" required/><br>
                      </label>
                      <label>Password<br>
                        <input type="password" name="password" id="password" required/><br>
                      </label>
                      <br>
                      <button type="submit" id="login">Login</button>
                    </div>
                  </div>
		</div>
{{/inline}}
{{! remove whitespaces with ~ }}
{{~> (parent)~}}
