{{#*inline "page"}}
		<div id="wrapper">
		  <h1>LTの順番決めるやつ</h1>
                  <div id="about">
                    <h2>順番</h2>
                    <div id="content">
                      {{#each users}}
                      <p style="text-align: center;">{{username}}</p>
                      {{/each}}
                    </div>
                  </div>
{{/inline}}
{{! remove whitespaces with ~ }}
{{~> (parent)~}}
