{{#*inline "page"}}
		<div id="wrapper">
		  <h1>LTの順番決めるやつ</h1>
                  <div id="about">
                    <h2>順番</h2>
                    <div id="content">
                    <p>
                       {{#each users}}
                       <input type="checkbox" name="user[]" value="{{this.username}}">{{this.username}}
                       {{/each}}
                    </p>
                    <button type="submit" id="start">Start</button>
                    </div>
                  </div>
{{/inline}}
{{! remove whitespaces with ~ }}
{{~> (parent)~}}
