{{#*inline "page"}}
		<div id="wrapper">
		  <h1>Register</h1>
                  <div id="about">
                    <h2>以下の情報を入力してください</h2>
                    <div id="content">
                        <label>Graphic(PNG only)<br>
                            <input type="file" id="graphic" accept="image/png"/><br>
                        </label>
                        <label>Email<br>
                          <input type="email" name="email" id="email" required/><br>
                        </label>
                        <label>Username<br>
                          <input type="text" name="username" id="username" required/><br>
                        </label>
                        <label>Password<br>
                          <input type="password" name="password" id="password" required/><br>
                        </label>
                        <label>Password(Confirm)<br>
                          <input type="password" id="password_confirm" required/><br>
                        </label>
                        <label>Invite token<br>
                          <input type="text" name="invite_token" id="invite_token" required/><br>
                        </label>
                        <label>Bio<br>
                          <textarea rows="15" cols="100" name="bio" id="bio" required></textarea>
                        </label>                          
                        <br>
                        <label>Twitter username<br>
                            <input type="text" id="twitter" value="{{user.twitter}}" /><br>
                        </label>
                        <label>Facebook username<br>
                            <input type="text" id="facebook" value="{{user.facebook}}" /><br>
                        </label>
                        <label>Tags<br>
                            <input type="text" id="tags0" class="tags" value="{{user.tags.0}}" />
                            <input type="text" id="tags1" class="tags" value="{{user.tags.1}}" />
                            <br>
                        </label>
                        <button type="submit" id="submit">Register</button>
                    </div>
                  </div>
                 </div>
{{/inline}}
{{! remove whitespaces with ~ }}
{{~> (parent)~}}
