{{#*inline "page"}}
<div id="wrapper">
	<div id="about_title">
		<h1>Main Member</h1>
	</div>
</div>

<div id="member_show">
	<div class="cards">
		{{#each users_ob}}
		<div class="card">
			<div class="demo-card-image mdl-card mdl-shadow--2dp" style="background-image:url(assets/img/member/{{graphic}}.png);">	<div class="mdl-card--expand"></div>
				<div class="mdl-card__actions">
					<span class="demo-card-image__filename">{{username}}</span>
				</div>
				<div class="mdl-card__skills">
					<p>Security</p>
					<p>MachineLearning</p>
				</div>
				<div class="mdl-hide">
					<div class="mdl-card__explain">
						{{bio}}
					</div>
					<div class="mdl-card__links">
						<a class="card_twitter" target="_blank" href="https://twitter.com/porisuteru"><img src="assets/img/member/twitter.png"></a>
						<a class="card_facebook" target="_blank" href="https://facebook.com/palloc1"><img src="assets/img/member/facebook.png"></a>	
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>

{{/inline}}
{{! remove whitespaces with ~ }}
{{~> (parent)~}}
