{{#*inline "page"}}
<div id="wrapper">
	<h1>Update</h1>
	<div id="about">
		<h2>以下の情報を入力してください</h2>
		<div id="content">
			<label>Email<br>
				<input type="email" name="email" id="email" value={{user.email}} required/><br>
			</label>
			<label>Username<br>
				<input type="text" name="username" id="username" value={{user.username}} required/><br>
			</label>
			<label>Password<br>
				<input type="password" name="password" id="password" required/><br>
			</label>
			<label>Password(Confirm)<br>
				<input type="password" id="password_confirm" required/><br>
			</label>
			<label>Bio<br>
				<textarea rows="15" cols="100" name="bio" id="bio" required>{{user.bio}}</textarea>
			</label>
			<br>
			<button type="submit" id="apply">Apply</button>
		</div>
	</div>
</div>
{{/inline}}
{{! remove whitespaces with ~ }}
{{~> (parent)~}}
